@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
  --dark-grey: hsl(0, 0%, 15%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  background-color: var(--dark-grey);
}

button {
  cursor: pointer;
  font: inherit;
  border: none;
  outline: none;
  background-color: white;

}

#language-selector {
  --width: 200px;
  --roundedness: 10px;
}

.dropdown button {
  border-radius: var(--roundedness);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 8px 20px;
  width: var(--width)
}

.dropdown img {
  width: 2rem;
}

.dropdown p {
  margin-bottom: 3px;
}

.dropdown-options {
  background-color: white;
  border-radius: var(--roundedness);
  width: var(--width)
}